header{
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    @include box-shadow(2px ,2px, 15px,0 , $dark );
    @media screen and (max-width: 1060px){
        padding: 0 20px;
        &.nav_open{
            background-color: $white;
            height: 100vh;
            .menu-bar{
                &:before{
                    content: "ï€";
                }
            }
            nav{
                margin: 80px 0 0;
                display: block;
                padding: 0;
                text-align: center;
                border: none;
                div{
                    display: block;
                    text-align: center;
                    a{
                       margin: 0 auto;
                       margin-top: 20px;
                       margin-bottom: 20px;
                    }
                }
                a{
                    display: block;
                    margin: 20px ;
                    &:last-child{
                        margin-right: 20px;
                    }
                }
            }
            div{
                text-align: center;
                display: block;
                float: none;
                a{
                    margin: 20px;
                    padding:0;
                    display: block;
                    &:nth-child(2){
                        border: none;
                        padding:0;
                        margin: 20px;
                    }
                }
                button{
                    display: block;
                    margin: 0 auto;
                }
            }
        }       
    }
    & >a{
        &.logo{
            background-image: url("../../app/images/logo.svg");
            background-repeat: no-repeat;
            width: 179px;
            height: 41px;
            float: left;
            margin-left: 36px;
            margin-right: 31px;
            margin-top: 20px;
            @media screen and (max-width: 1100px){
                margin: 20px 25px;
                background-size: 150px;
                width: 150px;
            }
            @media screen and (max-width: 1000px){
                margin-left: 0;
            }
        }
    }
    .menu-bar{
        float: right;
        margin: 33px 0 0;
        display: none;
        cursor: pointer;
        @media screen and (max-width: 1060px){
            display: inline-block;
        }
    }
    nav{
        display: inline-block;
        padding: 33px 0 33px 34px;
        border-left: 1px solid $lightgrey;
        text-align: left;
        @media screen and (max-width: 1210px){
            padding: 30px 0  33px  10px;
        }
        @media screen and (max-width: 1060px){
          display: none;
        }
        .dropdown{
            display: inline-block;
            position: relative;
            ul{
                display: none;
                position: absolute;
                z-index: 1;
                right: 0;
                background-color: $white;
                text-align: center;
                margin-top: 10px;
                @include box-shadow(2px ,2px , 6px, 0 , $black);
                @media screen and (max-width:1060px){
                    left: 50%;
                    right: unset;
                }
                &.prop_list{
                    li{
                        width: 100px;
                    }
                }
                li{
                    text-transform: uppercase;
                    width: 132px;
                    padding: 15px 5px;
                    font-size: 14px;
                    border-bottom: 1px solid $mildgrey;
                    cursor: pointer;
                    &:hover{
                        background-color: $mildgrey;
                    }
                }
            }
        }
        a{
            display: inline-block;
            text-decoration: none;
            margin-right: 20px;
            color: $black;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            @media screen and (max-width: 1135px){
               margin-right: 15px;
            }
            &:nth-child(3){
                margin-right: 48px;
                @media screen and (max-width: 1135px){
                    margin-right: 30px;
                }
            }
            &.homepage{
                width: 160px;
                text-align: center;
                &:after{
                    content: "\f078";
                    font-family: "Font Awesome 5 Free" !important;
                    font-weight: 600;
                    margin-left: 11px;
                }
            }
            &.properties{
                width: 132px;
                &:after{
                    content: "\f078";
                    font-family: "Font Awesome 5 Free" !important;
                    font-weight: 600;
                    margin-left: 11px;
                }
            }
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                color: $violet;
            }
        }
    }
    & >div{
        float: right;
        font-size: 0;
        @media screen and (max-width: 1060px){
            display: none;
          }
        a{
            display: inline-block;
            text-decoration: none;
            color: $black;
            margin: 25px 40px 25px 0;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            @include transition(color 0.3s linear);
            &.check{
                &:hover{
                    color: $green;
                }
            }
            span{
                display: inline-block;
                &.like{
                    &:hover{
                        color: red;
                    }
                }
            }
            
            
            &:nth-child(2){
                border-left: 1px solid $lightgrey;
                padding: 33px 40px 32px ;
                margin: 0;
                @media screen and (max-width: 1135px){
                    padding: 31px 25px 32px;
                }
                @media screen and (max-width: 1165px){
                    padding: 31px 30px 32px;
                }
            }
        }
        button{
            outline: none;
            cursor: pointer;
            width: 199px;
            height: 82px;
            font-size: 16px;
            background-color: $orange;
            border: 1px solid $orange;
            color: $white;
            cursor: pointer;
            @include transition(background-color 0.3s linear, border 0.3s linear);
            &:hover{
                background-color: $violet;
                border: 1px solid $violet;
            }
            @media screen and (max-width: 1210px){
               width: 150px;
               height: 79px;

            }
        }
    }
}