@font-face{
    font-family: Rubik;
    src:url("../../app/fonts/Rubik/Rubik-Regular.ttf") format('truetype');
    font-weight:400;   
}
@font-face{
    font-family: Rubik;
    src:url("../../app/fonts/Rubik/Rubik-Medium.ttf")format('truetype');
    font-weight:500;   
} 
