$black: #4b4d4f;
$lightgrey: #efefef;
$violet :#2a41e8;
$orange: #ff5e14;
$white : #fff;
$grey:#646464;
$mild :#9b9b9b;
$dark: #232628;
$lightclr: #8c8c8c;
$darkblack: #111;
$ash :#fafafa;
$defblack: #000;
$lightash: #848484;
$blackish: #1d1d1d;
$greyish : #f4f4f4;
$clr: #292929;
$yellow: #ffc107;
$gray: #676767;
$grayish: #999999;
$lightblue: #eaedfd;
$mildgrey:#f3f3f3;
$shadow:rgba(41 ,44 ,28, 0.08);
$lght: #afafaf;
$lightblack:#151515;
$mildblack: rgba(255, 255, 255, 0.07);
$grey2: #999999;
$grey3: #636363;
$mildgray: #ececec;
$black1: #262626;
$blue:#3763dd;
$pink: #8f3d4b;
$skyblue:#087ed1;
$red: #8b0000;
$green: #008000;